html, body {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    margin: 0;
}